{% load static%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable Generator</title>
    <link href="/dist/tailwind.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"/>
    <script src="https://kit.fontawesome.com/fc59f3647c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body{
        }
        .navbar{
            overflow: hidden;
            background-color: #e3f3f5;;
            position: fixed;
            top: 0; 
            width: 100%; 
        }
        .col-lg-7{
            margin-left:205px;
        }
        .btn1{
            border:none;
            outline:none;
            height:42px;
            width:18%;
            background-color: #111827;
            color:white;
            border-radius:20px;
            font-weight:bold;
        }
        .btn1:hover{
            background-color: #2563EB;
            color:white;
            width:20%;
            font-weight:bold;
        }
    </style>
</head>
<body>
    
    <span
    class="absolute text-white text-4xl top-5 left-4 cursor-pointer"
    onclick="openSidebar()"
  >
    <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
  </span>
  <div
    class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900"
  >
    <div class="text-gray-100 text-xl mt-30 pt-8">
      <div class="bg-gray-900">
          <img class="object-contain h-48 w-96" src="{% static 'assets/logo.png' %}">
        </div>
      <div class="p-2.5 mt-1 flex items-center">
        {% comment %} <i class="bi bi-app-indicator px-2 py-1 rounded-md bg-blue-600"></i> {% endcomment %}
        <h1 class="font-bold text-gray-200 text-[22px] ml-6">Timetable Generator</h1>
        <i
          class="bi bi-x cursor-pointer ml-28 lg:hidden"
          onclick="openSidebar()"
        ></i>
      </div>
      <div class="my-2 bg-gray-600 h-[1px]"></div>
    </div>
    {% comment %} <div
      class="p-2.5 flex items-center rounded-md px-4 duration-300 cursor-pointer bg-gray-700 text-white"
    >
      <i class="bi bi-search text-sm"></i>
      <input
        type="text"
        placeholder="Search"
        class="text-[15px] ml-4 w-full bg-transparent focus:outline-none"
      />
    </div> {% endcomment %}
    <div
      class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
    >
      {% comment %} <i class="bi bi-house-door-fill"></i> {% endcomment %}
      <i class="fa-solid fa-graduation-cap" style="color: #ffffff;"></i>
      <span class="text-[16px] ml-3 text-gray-200 font-bold">Programs</span>
    </div>
    <div
      class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
    >
      <i class="fa-sharp fa-solid fa-book ml-0.5" style="color: #ffffff;"></i>
      <span class="text-[16px] ml-4 text-gray-200 font-bold">Courses</span>
    </div>
    {% comment %} <div class="my-4 bg-gray-600 h-[1px]"></div> {% endcomment %}
    <div
      class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      onclick="dropdown()"
    >
      {% comment %} <i class="bi bi-chat-left-text-fill"></i> {% endcomment %}
      <i class="fa-solid fa-user-tie ml-0.5" style="color: #ffffff;"></i>
      <div class="flex justify-between w-full items-center">
        <span class="text-[16px] ml-4 text-gray-200 font-bold">Faculties</span>
        {% comment %} <span class="text-sm rotate-180" id="arrow">
          <i class="bi bi-chevron-down"></i>
        </span> {% endcomment %}
      </div>
    </div>
</div>
    <div style="margin-left: 280px;">
    <center>
        <br/>
        <br/>
        <br/>
        <h3>Program Master</h3>
        <br/>
        <a href="{% url 'insert_program' %}" class="btn1 nav-link text">Add New Program</a>
        <br/>
        <div class="container" style="width:70%">
        <table class="table" border="1">
            <tr style="background: #111827; color: white;">
                <th>Program Name</th>
                <th>Program ID</th>
                <th>Edit</th>
            </tr>
            {% for result in data%}
            <tr>
                <td>{{result.name}}</td>
                <td>{{result.id}}</td>
                <td>
                    <a href="program_edit/{{result.id}}"><i class="fa fa-edit fa-lg fa-fw" style="color:#222529"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>
</div>
</div>

<script type="text/javascript">
    function dropdown() {
      document.querySelector("#submenu").classList.toggle("hidden");
      document.querySelector("#arrow").classList.toggle("rotate-0");
    }
    dropdown();

    function openSidebar() {
      document.querySelector(".sidebar").classList.toggle("hidden");
    }
  </script>
  <script src="https://cdn.tailwindcss.com"></script>

</body>
</html>

